

<div class="keyboard-container" style="margin-top: 50px;">
    <ul id="keyboard">
        <li class="symbol" ng-click="ctrl.printKeyStroke(~, $event)">
            <span class="off">`</span><span class="on">~</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke(1, $event)">
            <span class="off">1</span><span class="on">!</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">2</span><span class="on">@</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">3</span><span class="on">#</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">4</span><span class="on">$</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">5</span><span class="on">%</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">6</span><span class="on">^</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">7</span><span class="on">&amp;</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">8</span><span class="on">*</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">9</span><span class="on">(</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">0</span><span class="on">)</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">-</span><span class="on">_</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">=</span><span class="on">+</span>
        </li>
        <li class="delete lastitem" ng-click="ctrl.printKeyStroke({type: 'erase', colspan: 2, text: '&lArr;'}, $event)">DEL</li>
        <li class="tab">TAB</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">q</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">w</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">e</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">r</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">t</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">y</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">u</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">i</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">o</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">p</li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">[</span><span class="on">{</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">]</span><span class="on">}</span>
        </li>
        <li class="symbol lastitem" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">\</span><span class="on">|</span>
        </li>
        <li class="capslock">CAPS LOCK</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">a</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">s</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">d</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">f</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">g</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">h</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">j</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">k</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">l</li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">;</span><span class="on">:</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">'</span><span class="on">&quot;</span>
        </li>
        <li class="return lastitem">RETURN</li>
        <li class="shift clear-left">SHIFT</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">z</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">x</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">c</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">v</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">b</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">n</li>
        <li class="letter" ng-click="ctrl.printKeyStroke($event)">m</li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">,</span><span class="on">&lt;</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">.</span><span class="on">&gt;</span>
        </li>
        <li class="symbol" ng-click="ctrl.printKeyStroke($event)">
            <span class="off">@</span><span class="on">?</span>
        </li>
        <li class="shift lastitem">SHIFT</li>
        <li class="space lastitem" ng-click="ctrl.printKeyStroke($event)">SPACE</li>
    </ul>
</div>