<div class="container" style="margin-top: 550px;">
    
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div>
                <p>Thank you. Your name is about to appear on the Wall above you. </p>
            </div>
            <div style="margin-top: 20px;">
                <p>
                    After you leave the Civil Rights Memorial Center, your name will continue to appear on the Wall &mdash; both
                    to honor your pledge, and to inspire others to a stand.
                </p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="red text-large text-center">{{$ctrl.countDown_tick}}</div>


    </div>
</div>