<div class="container" style="width: 75%;margin-top: 175px;">

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="">
            <p class="text-center">Enter your name below. When you're done, touch "CONTINUE".</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form novalidate name="$ctrl.form" id="form" role="form" focus-error="true">
                <div class="row">

                    <div class="col-md-12">
                        <input type="text" class="form-control" id="firstname" name="firstname" autofocus
                               ng-model-options="{ debounce: 100 }"
                               ng-change="$ctrl.startTimer()"
                               ng-model="$ctrl.visitor.firstname" required="" placeholder="First Name"
                               ng-required="true"
                               ng-pattern="/^[a-zA-Z, `-]*$/"
                               ng-maxlength="50"
                                />

                        <span class="errorMessage arrow_box text-danger" ng-show="vm.showValidationErrors && $ctrl.form.firstname.$error.required">Required</span>
                        <div ng-messages="$ctrl.form.firstname.$error" ng-show="$ctrl.form.firstname.$invalid && ($ctrl.form.firstname.$touched)">
                            <span class="errorMessage arrow_box text-danger" ng-message="required">Required</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="minlength">Too short</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="maxlength">Too long</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid characters</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="blacklist">Name is not allowed</span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="lastname" name="lastname" 
                               ng-model-options="{ debounce: 100 }"
                               ng-change="$ctrl.startTimer()"
                               ng-model="$ctrl.visitor.lastname" placeholder="Last Name"
                               required
                               ng-pattern="/^[a-zA-Z, `-]*$/"
                               ng-maxlength="50" 
                                />
                        <span class="errorMessage arrow_box text-danger" ng-show="vm.showValidationErrors && $ctrl.form.lastname.$error.required">Required</span>
                        <div ng-messages="$ctrl.form.lastname.$error" ng-show="$ctrl.form.lastname.$invalid && ($ctrl.form.lastname.$touched)">
                            <span class="errorMessage arrow_box text-danger" ng-message="required">Required</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="minlength">Too short</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="maxlength">Too long</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid characters</span>
                            <span class="errorMessage arrow_box text-danger" ng-message="blacklist">Name is not allowed</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="zipcode" name="zipcode"
                               ng-change="$ctrl.startTimer()"
                               ng-model="$ctrl.visitor.zipcode"
                               placeholder="ZIP Code (optional)"
                               zip-code />
                        <span class="errorMessage arrow_box" ng-show="vm.showValidationErrors && $ctrl.form.zipcode.$error.invalid">Invalid</span>
                        <div ng-messages="$ctrl.form.zipcode.$error" ng-show="$ctrl.form.zipcode.$invalid && ($ctrl.form.zipcode.$touched || $ctrl.form.zipcode.$dirty)">
                            <span class="errorMessage arrow_box text-danger" ng-message="zipCode">Invalid zip code</span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="email" name="email"
                               ng-change="$ctrl.startTimer()"
                               ng-model="$ctrl.visitor.emailAddress"
                               ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"
                               placeholder="Email Address (optional)" />
                        <span class="errorMessage arrow_box" ng-show="vm.showValidationErrors && $ctrl.form.email.$error.pattern">Invalid Email</span>
                        <div ng-messages="$ctrl.form.email.$error" ng-show="$ctrl.form.email.$invalid">
                            <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid email address</span>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <on-screen-keyboard rows="[
                         ['`','1', '2', '3', '4','5','6','7','8', '9', '0', {type: 'erase', text: 'DEL'}],
                         ['','Q','W','E','R','T','Y','U','I','O','P','-'],
                         ['','A','S','D','F','G','H','J','K','L',';', '\''],
                        [{type: 'shift', upperCase: '&dArr;', lowerCase: '&uArr;'}, 'Z','X','C','V','B','N','M',',', '.','@',{type: 'shift', upperCase: '&dArr;', lowerCase: '&uArr;'}],
                         [{type: 'space', colspan: 12, text: ' '}]
                        ]" uppercase-all-words>

        </on-screen-keyboard>
    </div>
</div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="margin-top: 50px;">
                <button class="btn btn-danger btn-lg pull-left" ng-click="$ctrl.gotoWelcome()">
                    <i class="fa fa-angle-left"></i> GO BACK
                </button>
                <button class="btn btn-danger btn-lg pull-right"
                        ng-click="$ctrl.gotoPledge()" ng-disabled="$ctrl.form.$invalid">
                    CONTINUE <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>

    <pre>
    {{ $ctrl.form.firstname | json }}
</pre>
</div>