

<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 175px;">
        <p>Enter your name below. When you're done, touch "CONTINUE".</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form novalidate="" name="vm.nameForm" id="nameForm"
              role="form"
              focus-error="true">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputFirstName"
                           ng-focus="vm.setFocus(vm.nameForm.inputFirstName)"
                           name="inputFirstName" ng-model="$ctrl.visitor.firstname" required="" placeholder="First Name"
                           ng-required="true"
                           ng-pattern="/^[a-zA-Z, `-]*$/"
                           ng-maxlength="50" />

                    <span class="errorMessage arrow_box text-danger" ng-show="vm.showValidationErrors && vm.nameForm.inputFirstName.$error.required">Required</span>
                    <div ng-messages="vm.nameForm.inputFirstName.$error" ng-show="vm.nameForm.inputFirstName.$invalid && (vm.nameForm.inputFirstName.$touched)">
                        <span class="errorMessage arrow_box text-danger" ng-message="required">Required</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="minlength">Too short</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="maxlength">Too long</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid characters</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="blacklist">Name is not allowed</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputLastName"
                           name="inputLastName" ng-model="$ctrl.visitor.lastname" placeholder="Last Name"
                           ng-focus="vm.setFocus(vm.nameForm.inputLastName)"
                           required
                           ng-pattern="/^[a-zA-Z, `-]*$/"
                           ng-maxlength="50" />

                    <span class="errorMessage arrow_box text-danger" ng-show="vm.showValidationErrors && vm.nameForm.inputLastName.$error.required">Required</span>
                    <div ng-messages="vm.nameForm.inputLastName.$error" ng-show="vm.nameForm.inputLastName.$invalid && (vm.nameForm.inputLastName.$touched)">
                        <span class="errorMessage arrow_box text-danger" ng-message="required">Required</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="minlength">Too short</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="maxlength">Too long</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid characters</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="blacklist">Name is not allowed</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputZipCode"
                           name="inputZipCode"
                           ng-focus="vm.setFocus(vm.nameForm.inputZipCode)"
                           ng-model="$ctrl.visitor.zipcode"
                           placeholder="ZIP Code (optional)"
                           zip-code>
                    <span class="errorMessage arrow_box" ng-show="vm.showValidationErrors && vm.nameForm.inputZipCode.$error.required">Required</span>
                    <div ng-messages="vm.nameForm.inputZipCode.$error" ng-show="vm.nameForm.inputZipCode.$invalid && (vm.nameForm.inputZipCode.$touched || vm.nameForm.inputZipCode.$dirty)">
                        <span class="errorMessage arrow_box text-danger" ng-message="required">Required</span>
                        <span class="errorMessage arrow_box text-danger" ng-message="zipCode">Invalid zip code</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputEmail"
                           name="inputEmail"
                           ng-focus="vm.setFocus(vm.nameForm.inputEmail)"
                           ng-model="$ctrl.visitor.emailAddress"
                           ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"
                           placeholder="Email Address (optional)">
                    <div ng-messages="vm.nameForm.inputEmail.$error" ng-show="vm.nameForm.inputEmail.$invalid">
                        <span class="errorMessage arrow_box text-danger" ng-message="pattern">Invalid email address</span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div style="margin-top: 50px;">
            <button class="btn btn-danger btn-lg btn-custom pull-left" ng-click="$ctrl.gotoWelcome()">
                <i class="fa fa-angle-left"></i> GO BACK
            </button>
            <button class="btn btn-danger btn-lg btn-custom pull-right"
                    ng-click="$ctrl.gotoPledge()">
                CONTINUE <i class="fa fa-angle-right"></i>
            </button>
        </div>
    </div>
</div>
