<div class="container" style="width: 70%; margin-top: 525px;">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>The Wall of Tolerance displays the names of people who have pledged to fight hate and to promote tolerance.</p>
            <p>We invite you to take the pledge as well. To start touch one of the buttons below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 30px;">
            <div>
                <button class="btn btn-danger btn-block btn-lg" ng-click="$ctrl.gotoRegister()">
                    I want to add my name to the wall
                </button>
                <button class="btn btn-block btn-lg btn-transparent" ng-click="$ctrl.gotoSearch()">
                    My name is already on the wall
                </button>
            </div>
        </div>
    </div>
</div>