body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer;
    text-decoration: none; 
}

[ng-click], a {
    cursor: pointer;
    text-decoration: none !important;
}

* {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.pagination {
    margin: 5px 0;
}

th[st-sort] {
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.badgebox {
    opacity: 0;
}

    .badgebox + .badge {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }

    .badgebox:focus + .badge {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */
        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }

    .badgebox:checked + .badge {
        /* Move the check mark back when checked */
        text-indent: 0;
    }


/* Today datas */

.today-datas {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

    .today-datas li {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 1.5em 1em;
        background-color: #f8f8f8;
        background: #f8f8f8;
        border: 1px solid #ccc;
        max-width: 100%;
        text-align: center;
    }

        .today-datas li .spark {
            margin-right: 10px;
        }

        .today-datas li .datas-text {
            font-size: 13px;
            padding: 7px 0 0 0;
            font-weight: normal;
        }

            .today-datas li .datas-text span {
                display: block;
                font-size: 24px;
                margin-bottom: 5px;
            }

        .today-datas li i {
            font-size: 50px;
            margin-right: 10px;
        }

        .today-datas li .dial {
            margin-right: 10px !important;
        }


/* Background colors */


.blightblue {
    background: #52b9e9 !important;
    color: #fff !important;
    border: 0 !important;
}

.bblue {
    background: #1171a3 !important;
    color: #fff !important;
    border: 0 !important;
}

.bgreen {
    background: #43c83c !important;
    color: #fff !important;
    border: 0 !important;
}

.borange {
    background: #f88529 !important;
    color: #fff !important;
    border: 0 !important;
}

.bred {
    background: #fa3031 !important;
    color: #fff !important;
    border: 0 !important;
}

.bviolet {
    background: #932ab6 !important;
    color: #fff !important;
    border: 0 !important;
}

    .blightblue h2, .blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
    .bblue h2, .bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
    .bgreen h2, .bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
    .bred h2, .bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
    .bviolet h2, .bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
    .borange h2, .borange h3, .borange h3, .borange h4, .borange h5, .borange h6 {
        color: #fff !important;
    }

    .blightblue a,
    .bblue a,
    .bgreen a,
    .bred a,
    .borange a,
    .bviolet a {
        color: #eee !important;
    }

        .blightblue a:hover,
        .bblue a:hover,
        .bgreen a:hover,
        .bred a:hover,
        .borange a:hover,
        .bviolet a:hover {
            color: #ddd !important;
        }

        .bold {
            font-size: 1.2em;
        }

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 200px;
    height: 65px;*/
    text-align: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    /*padding-top: 25px;
    margin: 10px;*/
}
