<form name="productForm" novalidate>

    <div class="modal-body">
        <fieldset>
            
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" ng-model="$ctrl.user.userName" autofocus />
            </div>
            
        </fieldset>

    </div>

    <div class="modal-footer">

        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="$ctrl.save()">
            Save
        </button>
    </div>
</form>


