



<div st-table="$ctrl.model" st-pipe="$ctrl.search">
    <span>
        <button class="btn btn-primary" st-submit-search>
            <i class="glyphicon glyphicon-search"></i> Search
        </button>

        <button class="btn btn-default" st-reset-search ng-model="$ctrl.searchModel">
            <i class="glyphicon glyphicon-erase"></i> Clear
        </button>
    </span>
    <span class="pull-right">
        <button class="btn btn-default" ng-click="$ctrl.create()">
            <i class="glyphicon glyphicon-plus"></i> New
        </button>
    </span>

    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Fullname</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in $ctrl.users">
                <td>{{u.userName}}</td>
                <td>{{u.email}}</td>
                <td>{{u.fullName}}</td>
                <!--<td>{{u.roles}}</td>-->
                <td>
                    <ul class="list-inline">
                        <li ng-repeat="role in u.roles">
                            <span class="label label-default">{{role}}</span>
                        </li>
                    </ul>
                </td>
                <td class="text-nowrap">
                    <a ng-click="$ctrl.edit(u)">Edit</a> |
                    <a ng-click="$ctrl.delete(u)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <span uib-pagination total-items="$ctrl.searchModel.filteredCount"
                          ng-model="$ctrl.searchModel.page"
                          max-size="5"
                          items-per-page="$ctrl.searchModel.pageSize"
                          class="pagination-sm"
                          boundary-link-numbers="true"
                          ng-change="$ctrl.paged()"
                          rotate="false">
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>