

<form name="productForm" novalidate>
    <fieldset>
        
        <div class="form-group">
            <label class="control-label">Volume: {{ $ctrl.configuration.volume  }}</label>
            <slider floor="0" ceiling="100" step="1" precision="2" ng-model="$ctrl.configuration.volume"></slider>
        </div>

        <div class="form-group">
            <span><label class="control-label">Min Font Sizes: {{ $ctrl.configuration.minFontSize }}</label></span>
            <span class="pull-right"><label class="control-label">Max Font Sizes: {{ $ctrl.configuration.maxFontSize }}</label></span>
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model-low="$ctrl.configuration.minFontSize" ng-model-high="$ctrl.configuration.maxFontSize"></slider>
        </div>

        <div class="form-group">
            <label class="control-label">Kiosk Entry Top Margin: {{ $ctrl.configuration.kioskEntryTopMargin }}</label>
            <slider floor="0" ceiling="500" step="0.1" ng-model="$ctrl.configuration.kioskEntryTopMargin"></slider>
        </div>

        <div class="form-group">
            <label class="control-label">Screen Bottom Margin: {{ $ctrl.configuration.screenBottomMargin }}</label>
            <slider floor="0" ceiling="1000" step="1" ng-model="$ctrl.configuration.screenBottomMargin"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">General Rotation Delay: {{ $ctrl.configuration.generalRotationDelay }}</label>
            <slider floor="0.0" ceiling="20" step="0.1" precision="2" ng-model="$ctrl.configuration.generalRotationDelay"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">Priority Rotation Delay: {{ $ctrl.configuration.priorityRotationDelay }}</label>
            <slider floor="0.0" ceiling="50" step="1" ng-model="$ctrl.configuration.priorityRotationDelay"></slider>
        </div>
        
        <div class="form-group">
            <label class="control-label">Kiosk Display Recycle Count: {{ $ctrl.configuration.kioskDisplayRecycleCount }}</label>
            <slider floor="0" ceiling="10" step="1" ng-model="$ctrl.configuration.kioskDisplayRecycleCount"></slider>
        </div>
        
        <div class="form-group">
            <label class="control-label">Grow Animation Duration: {{ $ctrl.configuration.growAnimationDuration }}</label>
            <slider floor="0.0" ceiling="20" step="0.1" precision="2" ng-model="$ctrl.configuration.growAnimationDuration"></slider>
        </div>

        <div class="form-group">
            <label class="control-label">Shrink Animation Duration: {{ $ctrl.configuration.shrinkAnimationDuration }}</label>
            <slider floor="0.0" ceiling="20" step="0.1" precision="2" ng-model="$ctrl.configuration.shrinkAnimationDuration"></slider>
        </div>

        <div class="form-group">
            <label class="control-label">Fall Animation Duration Time Modifier: {{ $ctrl.configuration.fallAnimationDurationTimeModifier }}</label>
            <slider floor="0" ceiling="50" step="1" ng-model="$ctrl.configuration.fallAnimationDurationTimeModifier"></slider>
        </div>

    </fieldset>

    <div class="modal-footer">

        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="$ctrl.save()">
            Save
        </button>
    </div>
</form>


