

<form name="productForm" novalidate>
    <fieldset>
        
        <div class="form-group">
            <label class="control-label">Volume</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.volume" autofocus />
            <label class="control-label">{{ $ctrl.configuration.volume  }}</label>
            <slider floor="0" ceiling="100" step="1" precision="2" ng-model="$ctrl.configuration.volume"></slider>
        </div>

        <div class="form-group">
            <label class="control-label">Min Font Size</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.minFontSize" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.scrollSpeed"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">Max Font Size</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.maxFontSize" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.scrollSpeed"></slider>
        </div>


        <div class="form-group">
            <label class="control-label">Kiosk Entry Top Margin</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.kioskEntryTopMargin" autofocus />
        </div>

        <div class="form-group">
            <label class="control-label">Screen Bottom Margin</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.screenBottomMargin" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.screenBottomMargin"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">General Rotation Delay</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.generalRotationDelay" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.generalRotationDelay"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">Priority Rotation Delay</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.priorityRotationDelay" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.priorityRotationDelay"></slider>
        </div>
        
        <div class="form-group">
            <label class="control-label">Kiosk Display Recycle Count</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.kioskDisplayRecycleCount" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.kioskDisplayRecycleCount"></slider>
        </div>
        

        <div class="form-group">
            <label class="control-label">Grow Animation Duration</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.growAnimationDuration" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.growAnimationDuration"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">Shrink Animation Duration</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.shrinkAnimationDuration" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.shrinkAnimationDuration"></slider>
        </div>
        <div class="form-group">
            <label class="control-label">Fall Animation Duration Time Modifier</label>
            <input type="text" class="form-control" ng-model="$ctrl.configuration.fallAnimationDurationTimeModifier" autofocus />
            <slider floor="0.0" ceiling="50" step="0.1" precision="2" ng-model="$ctrl.configuration.fallAnimationDurationTimeModifier"></slider>
        </div>

    </fieldset>

    <div class="modal-footer">

        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="$ctrl.save()">
            Save
        </button>
    </div>
</form>


